/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Truculenta', sans-serif;
}

/* body{
	height: 100vh;
	width: 100%;
}  */
/* body{
    background: linear-gradient(to bottom left,#000,#1b2026);
} */
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
} */
.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url('./images/contact_bg1.jpg') no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	/* display: grid; */
	/* grid-template-columns: repeat(2, 1fr); */
	/* grid-auto-rows: minmax(100px,200px); */
	justify-content: center;
	align-items: center;
	text-align: center;
	/* background-color: #fff; */
	box-shadow: 0px 0px 15px 5px black;
    border-radius: 20px;
    background: linear-gradient(to bottom left,#000,#1b2026);
}

.left{
	background: url("/images/dhruv.JPG") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
    font-family: 'Truculenta';
    font-weight: 700;
    color: white;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: wheat;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
    background-color: rgb(27 26 26 / 60%);
	/* background-color: rgba(230, 230, 230, 0.6); */
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    color: white;
    border-radius: 20px;
}

.field:hover{
	background-color: #ffffff26;
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color:#fff;
	color: rgb(0, 0, 0);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: wheat;
}
.field:focus{
    border: 2px solid white;
    background-color: rgb(27 26 26 / 60%);
}

/* @media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
} */
@media screen and (max-width: 650px){
	.left{
		height: 0px;
	}
	.container{
		padding: 20px 70px;
		min-height: 90vh;
	}
	.contact-box{
		display: block;
	}
}
@media screen and (max-width: 500px){
	.container{
		padding: 20px 20px;
		min-height: 90vh;
	}
}